NEXT_PUBLIC_ASK_TINYBIRD_ENDPOINT="https://ask-tb.tinybird.live/api/chat"

NEXT_PUBLIC_TINYBIRD_DASHBOARD_URL=http://localhost:3000
NEXT_PUBLIC_TINYBIRD_TRACKER_TOKEN=
NEXT_PUBLIC_TINYBIRD_AUTH_TOKEN=
NEXT_PUBLIC_TINYBIRD_HOST=